@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=Condiment|Bubbler+One);
@import url(http://fonts.googleapis.com/css?family=Condiment|Bubbler+One|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

body {

	background-color: #ebebeb; 
}

nav {
	font-size: 20px;
	font-family: Helvetica;

	
}

#navLinks {
	display: inline-block;
	padding-right:40px;
}


div {

	border-radius: 5px;

}

#header {

	color: #256f22;;
	width: 97.5%%;
	height: 50px;
	background-color: #b2b2b2;
	margin: auto;
	margin-bottom: 20px;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-size:25px}

p {
	font-family: 'Open Sans', sans-serif;
	color: #77736c;
}

a {
	font-size: 14px;
	color: #256f22
}

#blog {

font-size: 20px;

}
a:hover {
	color: #ea9a60;
}

.date {

	font-family: 'Condiment', cursive;
	font-style: italic;
}

h1 {
	font-family: 'Bubbler One', sans-serif;
	text-transform: uppercase;
	color: #256f22;

}

h2 {
	font-family: 'Bubbler One', sans-serif;
	color: #256f22;

}


